extends layout

block content
		.col-xs-12
			nav.navbar-default
				.container-fluid
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') CyberArms
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li.nav-item.navz
								a.navz(href="/") Home
							li.nav-item.dropdown.navz
								a.dropdown-toggle.navz.nav-link(href="/", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
										| Download 
										span.caret
									ul.dropdown-menu
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/software") Software
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/movies") Movies
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/tv") TV
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/games") Games
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/music") Music
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/books") Books
							li.nav-item.navz
								a.navz.nav-link(href="/upload") Upload
							li.nav-item.active.navz
								a.navz.nav-link(href="/about") About
							li.nav-item.navz
								a.navz.nav-link(href="/contact") Contact



		link(rel='stylesheet', href='/stylesheets/proxima_nova_regular.css')
		link(rel='stylesheet', href='/stylesheets/proxima_nova_bold.css')
		.container-fluid.text-xs-center
		hr
		hr
		.jumbotron
			.page-header
				h1.stuff16 About CyberArms
				hr
				h2.stuff17 What exactly is this?
				hr
				.stuff15
					p Cyberarms is a good repository for "bad" data.
					p This is a place for the proverbial "good stuff" of the internet.
					p Here you will find:
						hr
						hr
						hr
						.col-xs-2
						.col-xs-2
							.row
								p Hacking tools: trojans, automated auditors, exploit toolkits, and more
							hr
							.row
								p DMCA'ed content: DMCA complaints have been abused to remove content that people don't like, not just stuff that actually infringes copyright. Find the victims of such abuse here.
						.col-xs-1
						.col-xs-2
							.row
								p Cryptography: real stuff, not the backdoored garbage you find elsewhere
							hr
							.row
								p DRM breakers: If you buy a license to something, you should be able to use it whenever and wherever. Hence, we have a collection of tools to remove the artificial restrictions placed on your content.
						.col-xs-1
						.col-xs-2
							.row
								p Anonymity tools: Darknets, steganography, etc.
							hr
							.row
								p And more: Users can contribute their own content! See #[a(href="/ul", style="text-decoration:underline") the upload page] for more info
						.col-xs-2