extends layout

block content
		.col-xs-12
			nav.navbar-default
				.container-fluid
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') CyberArms
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li.nav-item.active.navz
								a.navz(href="/") Home
							li.nav-item.dropdown.navz
								a.dropdown-toggle.navz.nav-link(href="/", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
										| Download 
										span.caret
									ul.dropdown-menu
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/software") Software
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/movies") Movies
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/tv") TV
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/games") Games
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/music") Music
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/books") Books
							li.nav-item.navz
								a.navz.nav-link(href="/upload") Upload
							li.nav-item.navz
								a.navz.nav-link(href="/about") About
							li.nav-item.navz
								a.navz.nav-link(href="/contact") Contact
		.container-fluid.text-xs-center
			hr
			hr
			hr
			hr
			hr
			.jumbotron
				.page-header
					h1.stuff16 Cyber Arms
					hr
					h2.stuff17 A good repository for "bad" data
					hr
					h3.stuff17 Download things
					hr
					h4.stuff17
						a(href="/download/software") Software
					hr
					h4.stuff17
						a(href="/download/movies") Movies
					hr
					h4.stuff17
						a(href="/download/tv") TV
					hr
					h4.stuff17
						a(href="/download/games") Games
					hr
					h4.stuff17
						a(href="/download/music") Music
					hr
					h4.stuff17
						a(href="/download/books") Books