extends layout

block content
			script(src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js")
			script(src="/javascripts/prism.js")
			.col-xs-12
			nav.navbar-default
				.container-fluid
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') CyberArms
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li.nav-item.navz
								a.navz(href="/") Home
							li.nav-item.dropdown.navz
								a.dropdown-toggle.navz.active.nav-link(href="/downloads", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
										| Download 
										span.caret
									ul.dropdown-menu
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/software") Software
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/movies") Movies
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/tv") TV
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/games") Games
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/music") Music
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/books") Books
							li.nav-item.navz
								a.navz.nav-link(href="/upload") Upload
							li.nav-item.navz
								a.navz.nav-link(href="/about") About
							li.nav-item.navz
								a.navz.nav-link(href="/contact") Contact
			.col-xs-1
			.col-xs-10
				.jumbotron
					.page-header
						h1.stuff16 Upload
						hr
						h2.stuff17 Contribute to the site by uploading content
						hr
						h3.stuff22 Upload your own stuff
						hr
						h3.stuff22 Get started easily by installing CyberArms - Open Bash (or another shell) on linux, Terminal on Mac, or either Windows Subsystem for Linux, Cygwin, or a Virtual Machine on Windows and type:
						hr
						p#example1.asdfj.span

						script.
							$('#example1').typeIt({
								speed: 67,
								autoStart: false,
								lifeLike: true,
								cursor: false,
								loop: true,
								loopDelay: 750
							})
							.tiType('curl -sLo setup.sh https://git.io/cyberarms && sudo chmod +x setup.sh && sudo ./setup.sh && sudo cyberarms')
						hr
						script(src="/javascripts/prismclip.js")
						pre.copytoclipboard
							code.language-bash(style="font-size:1.5em;justify-content:center;text-align:center;") curl -sLo setup.sh https://git.io/cyberarms && sudo chmod +x setup.sh && sudo ./setup.sh && sudo cyberarms
			.col-xs-1